<!-- <div class="container">      
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="file">Provider:</label>
            <select formControlName="file" class="form-control">
                <option disabled>Select Template</option>
                <option *ngFor="let file of templateFiles">{{file}}</option>
            </select>
        </div> 
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div> -->