<div>
    <h1 class="text-center">Terraform's Dashboard</h1>
</div>


<!-- <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div> -->
<!-- 
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">WELCOME</div>
        <div class="card-body text-primary">
          <h5 class="card-title text-center">TERRAFORM SERVER PROVISIONING SYSTEM</h5>
         
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
  -->
 